<ub-content title="Gerenciar serviço" [loading]="loadingPage" [showBackButton]="true" (back)="back()">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid grid">
      <!-- Campos principais -->
      <div class="col-12 md:col-6">
        <ub-input
          label="Título"
          placeholder="Digite o título do serviço"
          formControlName="title"
          [error]="FormErrorHandlerService.getError('title', errors)"
          (blur)="createSlug($event)"
        ></ub-input>
      </div>
      <div class="col-12 md:col-6">
        <ub-input
          label="Subtítulo"
          placeholder="Digite o subtítulo do serviço"
          formControlName="subtitle"
          [error]="FormErrorHandlerService.getError('subtitle', errors)"
        ></ub-input>
      </div>
      <div class="col-12 md:col-6">
        <ub-input
          label="Slug"
          placeholder="Digite o slug do serviço"
          helpText="O slug é utilizado para identificar o serviço na URL"
          formControlName="slug"
          [error]="FormErrorHandlerService.getError('slug', errors)"
        ></ub-input>
      </div>
      <div class="col-12 md:col-6">
        <ub-input
          label="Ícone"
          placeholder="Digite o ícone do serviço"
          helpText="Utilize um icon do Boxicons"
          formControlName="icon"
          [error]="FormErrorHandlerService.getError('icon', errors)"
        ></ub-input>
      </div>
      <div class="col-12">
        <ub-editor
          label="Descrição"
          placeholder="Digite a descrição do serviço"
          formControlName="description"
          [error]="FormErrorHandlerService.getError('description', errors)"
        ></ub-editor>
      </div>
    </div>

    <!-- Abas para use_cases, features e benefits -->
    <ub-tabs [(activeTabIndex)]="activeTabIndex">
      <!-- Aba de Use Cases -->
      <ub-tab label="Casos de uso">
        <div *ngFor="let useCase of useCases.controls; let i = index" class="form-group">
          <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-4">
              <ub-input
                label="Título"
                placeholder="Digite o título"
                [formControl]="getFormControl(useCase,'title')"
                [error]="FormErrorHandlerService.getError('use_cases.' + i + '.title', errors)"
              ></ub-input>
            </div>
            <div class="col-12 md:col-4">
              <ub-input
                label="Descrição"
                placeholder="Digite a descrição"
                [formControl]="getFormControl(useCase,'description')"
                [error]="FormErrorHandlerService.getError('use_cases.' + i + '.description', errors)"
              ></ub-input>
            </div>
            <div class="col-12 md:col-4">
              <ub-input
                label="Ícone"
                placeholder="Digite o ícone"
                [formControl]="getFormControl(useCase,'icon')"
                [error]="FormErrorHandlerService.getError('use_cases.' + i + '.icon', errors)"
              ></ub-input>
            </div>
          </div>
          <div class="flex justify-content-end">
            <ub-button type="button" severity="danger" (click)="removeUseCase(i)">Remover</ub-button>
          </div>
          <hr class="m-2">
        </div>
        <div class="flex justify-content-center">
          <ub-button type="button" (click)="addUseCase()">Adicionar Caso de Uso</ub-button>
        </div>
      </ub-tab>

      <!-- Aba de Features -->
      <ub-tab label="Recursos">
        <div *ngFor="let feature of features.controls; let i = index" class="form-group">
          <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-6">
              <ub-input
                label="Título"
                placeholder="Digite o título"
                [formControl]="getFormControl(feature,'title')"
                [error]="FormErrorHandlerService.getError('features.' + i + '.title', errors)"
              ></ub-input>
            </div>
            <div class="col-12 md:col-6">
              <ub-input
                label="Ícone"
                placeholder="Digite o ícone"
                [formControl]="getFormControl(feature,'icon')"
                [error]="FormErrorHandlerService.getError('features.' + i + '.icon', errors)"
              ></ub-input>
            </div>
          </div>
          <div class="flex justify-content-end">
            <ub-button type="button" severity="danger" (click)="removeFeature(i)">Remover</ub-button>
          </div>
          <hr class="m-2">
        </div>
        <div class="flex justify-content-center">
          <ub-button type="button" (click)="addFeature()">Adicionar Recurso</ub-button>
        </div>
      </ub-tab>

      <!-- Aba de Benefits -->
      <ub-tab label="Benefícios">
        <div *ngFor="let benefit of benefits.controls; let i = index" class="form-group">
          <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-4">
              <ub-input
                label="Título"
                placeholder="Digite o título"
                [formControl]="getFormControl(benefit,'title')"
                [error]="FormErrorHandlerService.getError('benefits.' + i + '.title', errors)"
              ></ub-input>
            </div>
            <div class="col-12 md:col-4">
              <ub-input
                label="Descrição"
                placeholder="Digite a descrição"
                [formControl]="getFormControl(benefit,'description')"
                [error]="FormErrorHandlerService.getError('benefits.' + i + '.description', errors)"
              ></ub-input>
            </div>
            <div class="col-12 md:col-4">
              <ub-input
                label="Ícone"
                placeholder="Digite o ícone"
                [formControl]="getFormControl(benefit, 'icon')"
                [error]="FormErrorHandlerService.getError('benefits.' + i + '.icon', errors)"
              ></ub-input>
            </div>
          </div>
          <div class="flex justify-content-end">
            <ub-button type="button" severity="danger" (click)="removeBenefit(i)">Remover</ub-button>
          </div>
          <hr class="m-2">
        </div>
        <div class="flex justify-content-center">
          <ub-button type="button" (click)="addBenefit()">Adicionar Benefício</ub-button>
        </div>
      </ub-tab>
    </ub-tabs>

    <!-- Botão de Salvar -->
    <div class="flex justify-content-end">
      <ub-button type="submit" [disabled]="form.invalid" [loading]="loading">Salvar</ub-button>
    </div>
  </form>
</ub-content>
