<ub-content title="Gerenciar departamento" [loading]="loadingPage" [showBackButton]="true" (back)="back()">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid grid">
      <div class="col-12 md:col-6">
        <ub-input label="Nome do departamento" placeholder="Digite o nome do departamento"
                  formControlName="name"
                  [error]="FormErrorHandlerService.getError('name', errors)" (blur)="createSlug($event)"></ub-input>
      </div>
      <div class="col-12 md:col-6">
        <ub-input label="Slug" placeholder="Digite o slug do departamento"
                  helpText="O slug é utilizado para identificar o departamento na URL"
                  formControlName="slug"
                  [error]="FormErrorHandlerService.getError('slug', errors)"></ub-input>
      </div>
    </div>
    <div class="flex justify-content-end">
      <ub-button type="submit" [disabled]="form.invalid" [loading]="loading">Salvar</ub-button>
    </div>
  </form>
</ub-content>
