.password-container {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding-right: 40px; // Espaço para o ícone
  }

  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text-color);
    transition: color var(--transition-speed) ease-in-out;

    &:hover {
      color: var(--secondary-color);
    }
  }
}
