<ub-base-input
  [label]="label"
  [helpText]="helpText"
  [error]="error"
  [success]="success"
>
  <div class="password-container">
    <input
      [type]="inputType"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      (change)="onChangeEvent($event)"
      (click)="onClick($event)"
      [class.error]="error"
    />
    <i
      class="bx password-toggle"
      [class.bx-show]="!showPassword"
      [class.bx-hide]="showPassword"
      (click)="togglePasswordVisibility()"
    ></i>
  </div>
</ub-base-input>
