<ub-base-input
  [label]="label"
  [helpText]="helpText"
  [error]="error"
  [success]="success"
>
  <div class="input-with-suggestions">
    <input
      #inputElement
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      (blur)="onBlur($event)"
      (input)="onInput($event)"
      (change)="onChangeEvent($event)"
      (click)="onClick($event)"
      [disabled]="disabled"
      [class.error]="error"
    />

    @if (showSuggestions && suggestions.length > 0) {
      <div class="suggestions-container">
        @for (suggestion of filteredSuggestions; track i; let i = $index) {
          <div class="suggestion" (mousedown)="selectSuggestion(suggestion)">
            {{ suggestion }}
          </div>
        }
      </div>
    }
  </div>
</ub-base-input>
