<div class="toast-container">
  @for (toast of toastService.toasts$ | async; track toast.id) {
    <div
      [class]="getToastClass(toast)"
      (mouseenter)="onMouseEnter(toast)"
      (mouseleave)="onMouseLeave(toast)"
      (click)="onClick(toast)"
    >
      <div class="toast-content">
        <div class="toast-icon-wrapper">
          <i class="bx toast-icon" [ngClass]="getIconClass(toast.type)"></i>
        </div>
        <span class="toast-message">{{ toast.message }}</span>
        <button class="toast-close" (click)="onClick(toast)" type="button">
          <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="toast-progress" [class.paused]="toast.isPaused"></div>
    </div>
  }
</div>
